@import '../../../styles/_media.scss';

.codeTitle {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-top-left-radius: var(--code-block-border-radius);
  border-top-right-radius: var(--code-block-border-radius);
  padding: .7rem 1rem;
  background-color: var(--card-background-color);
  overflow-x: auto;

  .titleText {
    font-size: 16px;
    margin-bottom: 0;

    @include media-XS {
      font-size: 1rem;
    }
  }
}

.icon {
  width: 20px;
  height: auto;
  flex-shrink: 0;

  svg {
    width: 20px;
    height: auto;
    flex-shrink: 0;
  }
  margin-right: 12px;
}
